.content_div{
    border-right: 1px solid;
    border-top: 1px solid;

    padding: 5px;
    overflow: hidden;
}


.timeauthor span{

    color: #db7093;
}


 .header{
    position: fixed;
    width: 100%;
    height: 10%;
    top:0%;
    border-bottom: 1px solid;
}

 .footer{
    position: fixed;
    width: 100%;
    top:90%;
    border-top: 1px solid;
}
/*css_1 style*/
.css_1 .div_1 {
    position: fixed;
    left: 0%;
    top:10%;
    height: 80%;
    width: 66%;
    overflow: hidden;
    border-right: 1px solid;

}

.css_1 .div_1 img {

    position: relative;
    float:  left;
    left: 5px;
    top: 5%;
    height: 90%;
    width: 50%;
}
.css_1 .div_1 .article {

    position: relative;
    float: right;
    right:5px;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;

}

.css_1 .div_2 {
    position: fixed;
    top:10%;
    left: 66%;

    height: 40%;
    width: 33%;
    overflow: hidden;
    border-bottom: 1px solid;

}

.css_1 .div_2 img {

    position: relative;
    float:  left;
    top:5%;
    left: 5px;
    height: 80%;
    width: 50%;
}

.css_1 .div_2 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_1 .div_3 {
    position: fixed;
    left: 66%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;

}


.css_1 .div_3 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_1 .div_3 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_1 .div_4 {
    display: none;

}
.css_1 .div_0 {
    display: none;

}

/*css_2style*/
.css_2 .div_1 {
    position: fixed;
    left: 0%;
    top:10%;
    height: 80%;
    width: 33%;
    overflow: hidden;
    border-right: 1px solid;

}

.css_2 .div_1 img {

    position: relative;
    float:  left;
    left: 5px;
    top: 5%;
    height: 90%;
    width: 50%;
}
.css_2 .div_1 .article {

    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 45%;
    overflow: hidden;

}

.css_2 .div_2 {
    position: fixed;
    top:10%;
    left: 33%;
    border-right: 1px solid;
    height: 40%;
    width: 33%;
    overflow: hidden;


}

.css_2 .div_2 img {

    position: relative;
    float:  left;
    top:5%;
    left: 5px;
    height: 80%;
    width: 50%;
}

.css_2 .div_2 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;

}

.css_2 .div_3 {
    position: fixed;
    left: 66%;
    top:10%;
    height: 40%;
    width: 33%;
    overflow: hidden;


}


.css_2 .div_3 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_2 .div_3 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_2 .div_4 {
    position: fixed;
    left: 33%;
    top:50%;
    height: 40%;
    width: 66%;
    overflow: hidden;
    border-top: 1px solid;
}

.css_2 .div_4 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_2 .div_4 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_2 .div_0 {
    display: none;

}


/*css_3 style*/
.css_3 .div_1 {
    position: fixed;
    left: 0%;
    top:10%;
    height: 40%;
    width: 66%;
    overflow: hidden;
    border-right: 1px solid;

}

.css_3 .div_1 img {

    position: relative;
    float:  left;
    left: 5px;
    top: 5%;
    height: 90%;
    width: 50%;
}
.css_3 .div_1 .article {

    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 45%;
    overflow: hidden;

}

.css_3 .div_2 {
    position: fixed;
    top:10%;
    left: 66%;
    border-right: 1px solid;
    height: 40%;
    width: 33%;
    overflow: hidden;


}

.css_3 .div_2 img {

    position: relative;
    float:  left;
    top:5%;
    left: 5px;
    height: 80%;
    width: 50%;
}

.css_3 .div_2 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;

}

.css_3 .div_3 {
    position: fixed;
    left: 0%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-top: 1px solid;
    border-right: 1px solid;


}


.css_3 .div_3 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_3 .div_3 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_3 .div_4 {
    position: fixed;
    left: 33%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-top: 1px solid;
    border-right: 1px solid;
}

.css_3 .div_4 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_3 .div_4 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_3 .div_0 {
    position: fixed;
    left: 66%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-top: 1px solid;
}

.css_3 .div_0 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_3 .div_0 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}


/*css_4 style*/
.css_4 .div_1 {
    position: fixed;
    left: 0%;
    top:10%;
    height: 80%;
    width: 33%;
    overflow: hidden;
    border-right: 1px solid;

}

.css_4 .div_1 img {

    position: relative;
    float:  left;
    left: 5px;
    top: 5%;
    height: 90%;
    width: 50%;
}
.css_4 .div_1 .article {

    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 45%;
    overflow: hidden;

}

.css_4 .div_2 {
    position: fixed;
    top:10%;
    left: 33%;
    border-right: 1px solid;
    height: 40%;
    width: 33%;
    overflow: hidden;


}

.css_4 .div_2 img {

    position: relative;
    float:  left;
    top:5%;
    left: 5px;
    height: 80%;
    width: 50%;
}

.css_4 .div_2 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;

}

.css_4 .div_3 {
    position: fixed;
    left: 66%;
    top:10%;
    height: 80%;
    width: 33%;
    overflow: hidden;
    border-left: 1px solid;

}


.css_4 .div_3 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_4 .div_3 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_4 .div_4 {
    position: fixed;
    left: 33%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-top: 1px solid;
    border-right: 1px solid;
}

.css_4 .div_4 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_4 .div_4 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_4 .div_0 {
    display: none;

}


/*css_0 style*/
.css_0 .div_1 {
    position: fixed;
    left: 0%;
    top:10%;
    height: 40%;
    width: 49%;
    overflow: hidden;
    border-right: 1px solid;
    border-bottom: 1px solid;

}

.css_0 .div_1 img {

    position: relative;
    float:  left;
    left: 5px;
    top: 5%;
    height: 90%;
    width: 50%;
}
.css_0 .div_1 .article {

    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 45%;
    overflow: hidden;

}

.css_0 .div_2 {
    position: fixed;
    top:10%;
    left: 49%;
    border-right: 1px solid;
    height: 40%;
    width: 49%;
    overflow: hidden;


}

.css_0 .div_2 img {

    position: relative;
    float:  left;
    top:5%;
    left: 5px;
    height: 80%;
    width: 50%;
}

.css_0 .div_2 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;

}

.css_0 .div_3 {
    position: fixed;

    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-left: 1px solid;

}


.css_0 .div_3 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_0 .div_3 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_0 .div_4 {
    position: fixed;
    left: 33%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
}

.css_0 .div_4 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_0 .div_4 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}

.css_0 .div_0 {
    position: fixed;
    left: 66%;
    top:50%;
    height: 40%;
    width: 33%;
    overflow: hidden;
    border-top: 1px solid;
    border-right: 1px solid;
}

.css_0 .div_0 img {


    position: relative;
    float:  left;
    top: 5%;
    left: 5px;

    height: 80%;
    width: 50%;
}

.css_0 .div_0 .article{
    position: relative;
    float: right;
    height: 90%;
    font-size: 80%;
    width: 48%;
    overflow: hidden;


}
