<div class='ui-page hidden' data-role='page'  id="+"page_"+number+">
"<div data-role='header'>" +
    "<h1>Head</h1>" +
    "</div>"+
"<div data-role='content'>"+
    "<div class='div_1 content_div'>"+
        "<h3 class='title'>"+data["title"]+"</h3>"+
        "<span class='timeauthor'>"+data["time"]+" "+data["author"]+"</span>"+
        "<img class='img_1' src="+data["img"]+">"+
        "<div class='article'>"+data["article"]+"</div>"+
        "</div>"+
    "<div class='div_2 content_div'>"+
        "<h3 class='title'>"+data["title"]+"</h3>"+
        "<span class='timeauthor'>"+data["time"]+" "+data["author"]+"</span>"+
        "<img class='img_2' src="+data["img"]+">"+
        "<div class='article'>"+data["article"]+"</div>"+
        "</div>"+
    "<div class='div_3 content_div'>"+
        "<h3 class='title'>"+data["title"]+"</h3>"+
        "<span class='timeauthor'>"+data["time"]+" "+data["author"]+"</span>"+
        "<img class='img_3' src="+data["img"]+">"+
        "<div class='article'>"+data["article"]+"</div>"+
        "</div>"+
    "<div class='div_4 content_div'>"+
        "<h3 class='title'>"+data["title"]+"</h3>"+
        "<span class='timeauthor'>"+data["time"]+" "+data["author"]+"</span>"+
        "<img class='img_4' src="+data["img"]+">"+
        "<div class='article'>"+data["article"]+"</div>"+
        "</div>"+
    "<div data-role='footer'>"+
        "<h4>Page Footer</h4>"+
        "</div>"+
    "</div>"